version: '3.3'

services:
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    env_file:
      - .env 
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}

  wordpress:
    depends_on:
      - db
    build:
      context: .  # Make sure the context is set to the current directory
    ports:
      - "8000:80"
    restart: always
    env_file:
      - .env 
    environment:
      WORDPRESS_DB_HOST: ${DB_HOST}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASS}
      WORDPRESS_DB_NAME: ${DB_NAME}
    volumes:
      - ./wordpress:/var/www/html  # This ensures the wp-content directory persists
      - uploads:/var/www/html/wp-content/uploads  # Shared uploads volume
      - ./composer.json:/var/www/html/composer.json  # Mount composer.json explicitly
      - ./.htaccess:/var/www/html/.htaccess  # Mount composer.json explicitly

volumes:
  db_data: {}
  uploads: {} 
